@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --grayish-blue-2: hsla(220, 14%, 75%, 0.5);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --black-background: hsla(0, 0%, 0%, 0.75);
    --attribution: hsl(228, 45%, 44%);
}

$med: 600px;
$med-lower: 599px;

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-size: 100%;
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--light-grayish-blue);
    color: var(--very-dark-blue);

    max-width: 69.375rem;
    margin: auto;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    padding: 1rem;

    a {
        color: var(--attribution);
    }
}

// Navbar

.navbar {
    display: flex;
    align-items: center;
    padding: 1.4375rem;
    gap: 2rem;

    position: relative;

    @media only screen and (min-width: $med) {
        border-bottom: 0.0625rem solid var(--grayish-blue-2);
        padding: 1.8rem 0;
    }

    &__container {
        display: flex;
        flex-direction: row-reverse;
        gap: 0.875rem;

        @media only screen and (min-width: $med) {
            flex-direction: row;
            gap: 3.4375rem;
        }
    }

    &__logo {
        height: 100%;
    }

    button {
        // clear button styling
        background: none;
        border: none;
        padding: 0;
    }

    nav button {
        @media only screen and (min-width: $med) {
            //desktop
            display: none;
        }
    }

    // open navbar menu button
    &__open {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }

    // animation of menu opening
    &__open[aria-expanded="true"] {
        +.navbar__menu {
            // if the button is set to expanded, change the navbar__menu
            translate: 0;
        }

        @media (prefers-reduced-motion) {
            opacity: 1;
        }
    }

    // menu close button
    &__close {
        display: block;
        margin-inline-end: auto; //aligns the X to the right
        margin-block-end: 3.125rem; //moves links down a bit

        &:hover {
            cursor: pointer;
        }

        img {
            width: 0.9rem;
        }
    }

    //entire menu
    &__menu {
        z-index: 4;

        @media only screen and (max-width: $med-lower) {
            //mobile
            position: fixed; //fixes position, removes from flow, parent element effectively entire page
            padding: 1.5rem;
            background-color: var(--light-grayish-blue);

            width: 66vw;
            height: 100vh;
            top: 0;
            left: 0;

            translate: -100vw 0; //slide the menu in from off screen
            transition: translate 0.5s ease-in-out;

            color: var(--very-dark-blue);
        }

        @media only screen and (max-width: $med-lower) and (prefers-reduced-motion) {
            translate: 0;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

    }

    //links collection
    &__links {
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column; //for mobile
        align-items: left;
        gap: 1.45rem;

        @media only screen and (min-width: $med) {
            flex-direction: row;
            gap: 1.875rem;
        }
    }

    &__item {
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
        color: var(--very-dark-blue);
        font-weight: 700;
        font-size: 1.05rem;


        @media only screen and (min-width: $med) {
            color: var(--dark-grayish-blue);
            font-weight: 400;
            font-size: 0.9rem;
        }
    }

    &__personal {
        margin-left: auto;
        display: flex;
        gap: 1.25rem;
        align-items: center;

        @media only screen and (min-width: $med) {
            gap: 2.875rem;
        }

        button:hover {
            cursor: pointer;
        }
    }

    &__profile {
        width: 1.5625rem;
        aspect-ratio: 1 / 1;

        @media only screen and (min-width: $med) {
            width: 3.125rem;
        }
    }
}

.grey-out {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--black-background);

    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;

    &--shown {
        visibility: visible;
        opacity: 1;
        transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
        z-index: 3;
    }

}

//Cart

.cart {
    position: absolute;
    top: 4.6875rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 96%;
    margin-inline: auto;

    background-color: var(--light-grayish-blue);
    // background-color: var(--grayish-blue);

    border-radius: 0.4375rem;

    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    box-shadow: var(--grayish-blue) 0px 50px 100px -20px, var(--dark-grayish-blue) 0px 30px 60px -30px;

    visibility: hidden;

    &--open {
        visibility: visible;
    }


    @media only screen and (min-width: $med) {
        width: 22.5rem;
        left: unset;
        transform: unset;
        right: 0;
        top: 6.0625rem;
    }

    &__heading {
        font-size: 0.9rem;
        font-weight: 700;

        padding: 1.25rem 1.375rem 1.75rem;
    }

    &__divider {
        width: 100%;
        height: 0.0625rem;
        background-color: var(--grayish-blue-2);
    }

    &__content {
        font-size: 0.9rem;
        font-weight: 700;
        color: var(--dark-grayish-blue);

        display: flex;
        justify-content: center;
        align-items: center;

        min-height: 11.875rem;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;


    @media only screen and (min-width: $med) {
        grid-template-columns: 1fr 1fr;
        gap: 7.75rem;

        padding: 5.625rem 2.9375rem;
    }
}


// Lightbox

.gallery {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    &__main {
        width: 100%;
        position: relative;

        height: 18.75rem;

        @media only screen and (min-width: $med) {
            height: unset;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media only screen and (min-width: $med) {
                border-radius: 0.9375rem;
            }
        }
    }

    &__previews {
        display: none;

        @media only screen and (min-width: $med) {
            display: flex;
            flex-direction: row;
            gap: 2rem;

        }

        img {
            @media only screen and (min-width: $med) {
                border-radius: 0.625rem;
                margin: 0;
            }

        }

    }

    &__thumbnail--chosen {
        opacity: 0.5;
    }

}

.thumbnail_container:has(.gallery__thumbnail--chosen) {
    border: 2px solid var(--orange);
    border-radius: 0.625rem;
    height: 5.5625rem;
}

.navigation_button {

    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    background-color: var(--light-grayish-blue);
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;

    &:hover {
        cursor: pointer;
    }

    img {
        width: 0.625rem;
        height: 0.625rem;
    }

    &--left {
        left: 0.9375rem;
    }

    &--right {
        right: 0.9375rem;
    }

    &--lightbox {
        z-index: 3;
    }

    @media only screen and (min-width: $med) {
        display: none;
    }
}

.navigation_button-lightbox {

    display: block;
    position: absolute;
    top: 50%;
    // transform: translateY(-50%);
    z-index: 3;

    background-color: var(--light-grayish-blue);
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;

    &:hover {
        cursor: pointer;
    }

    img {
        width: 0.625rem;
        height: 0.625rem;
    }

    &--left {
        left: 0.9375rem;
    }

    &--right {
        right: 0.9375rem;
    }

}

.lightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--black-background);
    z-index: 2;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    gap: 2.375rem;

    &__main {
        position: relative;

        @media only screen and (min-width: $med) {
            width: 40%;
            max-width: 34.375rem;
            padding-top: 5.3125rem;
        }

        img {
            @media only screen and (min-width: $med) {
                border-radius: 0.9375rem;
            }
        }
    }

    &__dismiss {
        display: block;
        position: absolute;
        right: 1rem;
        top: -2rem;
        background-color: transparent;
        border: none;

        &:hover {
            cursor: pointer;
        }

        img {
            filter: brightness(400%);
            width: 1rem;

            @media only screen and (min-width: $med) {
                width: 1.25rem;
            }
        }

    }

    &__previews {
        display: none;

        @media only screen and (min-width: $med) {
            display: flex;
            flex-direction: row;
            width: 30%;
            max-width: 27.9375rem;
            gap: 1.75rem;

        }

        img {
            @media only screen and (min-width: $med) {
                border-radius: 0.625rem;
                margin: 0;
            }

        }

    }

}